---
# tasks file for config-ssh

- name: For each host, scan for its ssh public key
  shell: "ssh-keyscan {{ item }}"
  with_items: "{{ ssh_known_hosts }}"
  register: ssh_known_host_results
  ignore_errors: yes
    
- name: Remove the public key in the '{{ ssh_known_hosts_file }}'
  known_hosts:
    name: "{{ item.item }}"
    state: "absent"
    path: "{{ ssh_known_hosts_file }}"
  with_items: "{{ ssh_known_host_results.results }}"
    
- name: Set up multiple authorized keys 
  authorized_key:
    user: awx
    state: present
    key: "{{ item.stdout }}"
    path: "{{ ssh_known_hosts_file }}"
  with_items: "{{ ssh_known_host_results.results }}"
  
- name: Add/update the public key in the '{{ ssh_auth_keys_file }}'
  known_hosts:
    name: "{{ item.item }}"
    key: "{{ item.stdout }}"
    state: "present"
    path: "{{ ssh_auth_keys_file }}"
  with_items: "{{ ssh_known_host_results.results }}"
    

